/* background-color: #ae0001;
    background-color: #eeba30;
    background-color: #d3a625;
    background-color: #000000; */

@font-face {
    font-family: harrypotter;
    src: url(../src/fuente/harrypotter.ttf);
}

* {
    margin: 0px;
}

body {
    min-height: 100vh;
}

header {
    background-color: #740001;
    color: white;
    height: 100px;
    padding: 20px;
}

#btnMenu {
    display: none;
}

.labelMenu {
    display: none;
    width: 50px;
    height: 50px;
    padding: 10px;
    text-align: center;
}

.labelMenu:hover {
    cursor: pointer;
    background: #00000063;
}

.fa-bars {
    font-size: 35px;
}

header h1 {
    font-family: harrypotter;
    font-size: 80px;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: auto;
}

.btnInitial {
    background-color: transparent;
    border-style: none;
}

.btnInitial:hover {
    cursor: pointer;
}

header img {
    height: 100px;
    /* margin-right: 20%; */
}

.ulList {
    list-style: none;
    display: flex;
}

.ulList li {
    background: #d3a425;
    border-radius: 15px;
    margin: 10px;
    padding: 10px 20px;
}

.ulList li:hover {
    background: #00000063;
    border-radius: 15px;
}

.ulList li a {
    color: white;
    text-decoration: none;
}

main {
    background-image: url(https://images8.alphacoders.com/110/thumb-1920-1102284.jpg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.sectionInicial {
    width: 100%;
    margin: 20px 20px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sectionInicial p {
    font-size: 50px;
    color: white;
    text-align: center;
    background-color: #000000af;
    border-radius: 15px;
    padding: 40px;
    /* margin-top: 20px;*/
}

.btnPotions {
    background-color: transparent;
    border-style: none;
    margin-top: 1px;
}

.sectionInicial img {
    height: 400px;
    width: 400px;
}

.sectionInicial img:hover {
    cursor: pointer;
}

/* Seccion de filtrado */
.sectionFilter {
    margin-top: 50px;
    padding: 20px;
    width: 90%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.77);
    /* background-color: rgba(0, 0, 0, 0.552); */

    border-radius: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.sectionFilter input {
    border-radius: 5px;
    border: solid rgb(185, 185, 185) 1px;
    padding: 5px;
    height: 30px;
    width: 30%;
    margin-right: 5px;
}

.sectionFilter input:focus {
    outline: none;
    border: solid rgb(148, 146, 146) 2px;
}

.sectionFilter select {
    border-radius: 5px;
    border: solid rgb(185, 185, 185) 1px;
    padding: 3px;
    height: 40px;
    margin-right: 10px;
}

.sectionFilter select:focus {
    outline: none;
    border: solid rgb(148, 146, 146) 2px;
}

.sectionFilter {
    display: none;
}

/* seccion Order */

.sectionOrder {
    margin-top: 50px;
    padding: 20px;
    width: 90%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.77);
    border-radius: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.sectionOrder select {
    border-radius: 5px;
    border: solid rgb(185, 185, 185) 1px;
    padding: 3px;
    height: 40px;
}

.sectionOrder select:focus {
    outline: none;
    border: solid rgb(148, 146, 146) 2px;
}

.sectionOrder {
    display: none;
}

/* Seccion de operaciones */
.sectionOperations {
    margin-top: 50px;
    padding: 20px;
    width: 90%;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.77);
    border-radius: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.sectionOperations input {
    border-radius: 5px;
    border: solid rgb(185, 185, 185) 1px;
    padding: 5px;
    height: 25px;
    width: 35%;
    margin-right: 5px;
}

.inputBtn {
    /* border: solid black 1px; */
    width: 100%;
}

.sectionOperations input:focus {
    outline: none;
    border: solid rgb(148, 146, 146) 2px;
}

.sectionOperations {
    display: none;
}

.check {
    border-radius: 20px;
    background-color: black;
    color: white;
    font-size: 20px;
    border: solid rgb(185, 185, 185) 1px;
    padding: 5px;
    height: 40px;
    width: 160px;
    margin-right: 5px;
}

.check:hover {
    cursor: pointer;
    background-color: #d3a425;
}

.checkP {
    font-size: 25px;
    margin-top: 10px;
}

.sectionOperationOn {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Seccion de visualizar data */
.sectionSeeData {
    width: 100vw;
    height: 100%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

table {
    border-collapse: collapse;
    /* background-color: white; */
    color: white;
    font-weight: bold;
    height: 80px;
    max-width: 1440px;
    margin: 20px 0;
}

th {
    text-align: center;
    padding: 20px;
}

td {
    padding: 20px;
    text-align: left;
}

thead {
    background-color: #000000;
    color: white;
    border-bottom: solid 3px white;
}

tbody tr:nth-child(odd) {
    background-color: #d3a425;
    opacity: 90%;
}

tbody tr:nth-child(even) {
    background-color: #740001;
    opacity: 90%;
}

/* ocultando la data */
.sectionSeeData {
    display: none;
}

footer {
    background-color: #000000;
    color: white;
    height: 70px;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-right: 10px;
}

.footerContainer {
    /* background-color: rgb(241, 17, 54); */
    display: flex;
    flex-direction: column;
    max-width: 96%;
    margin: auto;
}

.followContainer {
    /* background-color: palegreen; */
    display: flex;
    padding: 8px;
    margin-top: 10px;
    font-size: 18px;
}

.fa-twitter,
.fa-instagram,
.fa-facebook-f {
    margin-left: 30px;
    font-size: 20px;
    color: white;
}

.fa-js {
    font-size: 15px;
}

.copyRightsContainer {
    /* background-color: paleturquoise; */
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.copyRightsContainer p {
    font-size: 14px;
}

/* medidas: pc: 1512px tablet: 834px cel: 375px*/

/* tablet */
@media screen and (max-width: 834px) {

      header {
        height: 80px;
    }

    header h1 {
      font-size: 45px;
      font-weight: normal;
  }

    header img {
      height: 70px;
      margin-right: 5px;
  }

    .sectionInicial {
      margin-top: 60px;
  }

    .sectionInicial p {
      font-size: 40px;
  }

    .sectionInicial img {
      height: 320px;
      width: 320px;
  }

    .sectionSeeData {
      width: 90vw;
      /*height: 100%;
      margin: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 70px;*/
      font-size: 18px;
      font-weight: normal;
  }

}



/* cel */
@media screen and (max-width: 375px) {

    header {
        height: 60px;
    }

    .headerContainer {
        display: flex;
        font-size: 9px;
        justify-content: space-between;
        margin: 5px;
    }

    header h1 {
        font-size: 30px;
    }

    header img {
        height: 60px;
    }

    .labelMenu {
        display: block;
        width: 30px;
        height: 25px;
    }

    #sectionMenu {
        position: relative;
    }

    .sectionFilter {
        width: 80%;
    }

    .sectionOrder {
        width: 80%;
    }

    .sectionOperations {
        width: 80%;
    }

    .inputBtn input {
        margin-bottom: 10px;
        width: 80%;
    }

    .ulList {
        flex-direction: column;
        padding-inline-start: 0;
    }

    .ulList li {
        font-size: 16px;
    }

    .fa-bars {
        font-size: 30px;
    }

    .optionMenu {
        background-color: #740001;
        position: absolute;
        top: 60px;
        right: 0;
        z-index: 1;
    }

    .hide {
        display: none;
    }

    .sectionInicial p {
        font-size: 20px;
    }

    .sectionInicial img {
        height: 320px;
        width: 320px;
    }

    thead {
        display: flex;
        max-width: 375px;
        font-size: 13px;
    }

    #myTable {
        display: flex;
        flex-direction: column;
        font-size: 13px;
        justify-content: center;
        margin: 0;
    }

    footer {
        height: 80px;
        max-width: 96%;
    }

    .followContainer {
        /* border: solid white 2px; */
        display: flex;
        padding: 10px;
        margin-top: 5px;
        font-size: 15px;
    }

    .fa-twitter,
    .fa-instagram,
    .fa-facebook-f {
        margin-left: 15px;
    }

    .fa-js {
        font-size: 10px;
    }

    .copyRightsContainer {
        /* background-color: paleturquoise; */
        font-size: 12px;
    }

    .copyRightsContainer p {
        font-size: 12px;
        margin-right: 5px;
    }


}
